#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color3;
  width: 100vw;
  height: 80px;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $color4;
}
#hidden_container {
  position: fixed;
  top: 0;
  width: 0%;
  background-color: $color3;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
#hidden_nav {
  display: flex;
  background-color: $color3;
  width: 100vw;
  height: 80px;
  top: 0;
}
.hamburger {
  position: fixed;
  top: 35px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.burger {
  width: 32px;
  height: 2px;
  background: $color4;

  transition: 0.5s;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: $color4;
  transition: 0.5s;
}
.burger::before {
  top: -10px;
}
.burger::after {
  top: 10px;
}
.hamburger.active .burger {
  background: none;
}
.hamburger.active .burger::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger.active .burger::after {
  top: 0;
  transform: rotate(135deg);
}
.foodiboo_logo {
  width: 120px;
  margin: 0 0 0 1vw;
}
.logo_link {
 
}


#search_bar {
  margin: 12px 18vw 0 0;
  outline: none;
  width: 40vw;
  border: 1px solid $color4;
  background-color: $color3;
  color: $color4;
  font-size: 17px;
  text-align: center;
  height: 50px;
}
#search_bar::placeholder {
  color: $color4;
}
#search_bar:focus::placeholder {
  color: transparent;
}
.hidden_nav_contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 140px 0 0 0;
}
.hidden_nav_title {
  font-size: 35px;
  color: white;
  margin: 0 0 10vh 0;
}
.hamburger_clicker {
  position: fixed;
  height: 38px;
  width: 38px;
  top: 17px;
  right: 16px;
  z-index: 3;
}
