/* orange color1 */
/* green = color2  */
/* salmon = color3  */
/* beige = color4  */
/* yellow = color5  */

.close_button_container {
  position: fixed;
  top: 2vh;
  left: 4vh;
  z-index: 1;
}
.x_button {
  font-size: 40px;
  color: $color4;
}
.close_button {
  width: 27px;
  height: 27px;
}
.upload_image_container {
  height: 100vw;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 50%;
}
.upload_image {
  object-fit: cover;
  height: 100vw;
  width: 100vw;
}
.meal_container {
  font-size: 18px;
  line-height: 33px;
}
.arrow_container {
  height: 33px;
  position: fixed;
  bottom: 5vh;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}
.arrow_icon {
  width: 33px;
  height: 33px;
  margin: 0 4vw 0 0;
  filter: invert(100%);
}
.image_popup {
  background-color: $color3;
  z-index: 5;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 50vh;
  border: 1px solid $color4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.what_food {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  color: white;
}
.food_name_input_box_container {
  width: 100%;
  height: 50px;
  text-align: center;
}
.food_name_input_box_container input {
  height: 40px;
  font-size: 20px;
  border-radius: 4px;
  outline: none;
  border: 1px solid $color4;
}
.submit_food_button_container {
  height: 80px;
  text-align: center;
  outline: none;
}
.submit_food_button {
  margin: 10px 0 0 0;
  width: 130px;
  background-color: $color1;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $color4;
  color: white;
}
.no_gps_message_box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 6vh;
  border-radius: 4px;
  height: 12vh;
  width: 90vw;
  background-color: $color3;
  font-size: 18px;
  text-align: center;
  color: $color4;
}
