.close_button_container {
  position: fixed;
  top: 2vh;
  left: 4vh;
  z-index: 1;
}
.x_button {
  font-size: 40px;
  color: #cd7f32;
}
.close_button {
  width: 27px;
  height: 27px;
}
.upload_image_container {
  margin: 80px 0 0 0;
  /* top: 37%;
  left: 50%; */
  height: 100vw;
  /* width: 110vw; */
  border-radius: 4px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* border: 1px solid black; */
}
.upload_image {
  /* margin: 80px 0 0 0; */
  object-fit: cover;
  /* transform: translate(-50%, -50%); */
  /* top: 80%;
  left: 50%; */
  /* transform: rotate(90deg); */
  height: 100vw;
  width: 100vw;
}
.meal_container {
  font-size: 18px;
  line-height: 33px;
}
.arrow_container {
  height: 33px;
  position: fixed;
  bottom: 3.5vh;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}
.arrow_icon {
  width: 33px;
  height: 33px;
  margin: 0 4vw 0 0;
}
