/* Coolors Exported Palette - coolors.co/ff9f1c-06d6a0-fd7272-ffbf69-ffe66d */

/* HSL */
$color1: hsla(35%, 100%, 55%, 1);
$color2: hsla(164%, 95%, 43%, 1);
$color3: hsla(0%, 97%, 72%, 1);
$color4: hsla(34%, 100%, 71%, 1);
$color5: hsla(50%, 100%, 71%, 1);

/* RGB */
$color1: rgba(255, 159, 28, 1);
$color2: rgba(6, 214, 160, 1);
$color3: rgba(253, 114, 114, 1);
// $color4: rgba(255, 191, 105, 1);
$color4: #f8efba;
$color5: rgba(255, 230, 109, 1);

